.container{
  height:100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  justify-content:center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}
.container2{
  height:100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}
.button-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  
}
.background{
  background: url('http://p1.pichost.me/i/74/1987025.jpg?dl=1')no-repeat,url('http://2e130c55e0c2763c8a20-c7a4d0feffd26319b59c92c4aecae366.r18.cf1.rackcdn.com/7edce0da5f491acb0145c56aa1abf10d721be11c.jpg');
  background-size:cover;

}
.navbar{
   height:6.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  background-color:	rgba(0, 69, 79, .9);
  font-weight:bold;
}
.docButton{
  height:4em;
  width:10em;
  margin:.25em;
  font-weight:bold;
  font-size:16px;
  color:white;
  border:1px solid white;
}

.docButton:hover{
  cursor:pointer;
  -webkit-transform: scale(1.05);
}

header{
    text-align: center;
}
footer{
  bottom:0;
  position:absolute;
  height:100px;
  background-color:white;
}
a.punch {
  margin:.5em;
  text-decoration:none;
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box; }
  .active-punch{
   margin:.5em;
  text-decoration:none;
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 25px;
  color: orange;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box; 
  }
  a.punch:hover {
    -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  a.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 25px; }

header h1 {
  color:white;
   font-size:35px;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.button-text{
  
}
.redgay{background:#DA312E;}
.yellow{background:#dbb701;}
.bluefish{background:#02b9e3;}
.lime{background:#61b812;}
.magenta{background:#d22a4e;}
a{
  text-decoration:none;
  color:tomato;
}
a:hover{
  color:orange;
}
a:active{
  color:orange;
}
/* Modal Content */
.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
   color:white;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.odd {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#d22a4e;
  color: white;
}
.even {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color:orange;
  color:white;
}

td, th{
    text-align: center;
    border:1px solid black;
    padding:1em;
}