<header><h1>API Calls for the Users Resource</h1></header>
<div class='contents'>
<table>
    <th>Parameter Name</th><th>Variable Type</th><th>Parameter Description</th><th>Example Value</th>
<tr ng-repeat='call in apiCalls' ng-class-odd="'odd'" ng-class-even="'even'">
<td>{{call.name}}</td><td>{{call.type}}</td><td>{{call.desc}}</td><td>{{call.example}}</td>
</tr>
</table>
</div>
<header><h1>Making a Request Using AngularJS</h1></header>

<table>
    <th>Request Description</th><th>Example Angular Request</th><th>Example Response</th>
<tr ng-repeat='request in requestDoc' ng-class-odd="'odd'" ng-class-even="'even'">
<td>{{request.desc}}</td><td>{{request.code}}</td><td>{{request.example}}</td>
</tr>
</table>