<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAN Documentation</title>
    <link href='../css/documentation.css' rel='stylesheet'>
</head>
<body>
<header>LAN Documentation</header>
<br>
<div class="contentTitle">
    <div class='title'>
        Key Resource
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        API Calls for CRUD
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Authentication
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Error Handling
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Example of Angular JS
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Use Case
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Major Project Testable Requirements
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Mock-up
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
<br>
<div class="contentTitle">
    <div class='title'>
        Project Tasks and Project Task Status
    </div>
</div>
<div class='contents'>
    QWERTY
</div>
</body>
</html>